.header-h1{
    text-align: center;
    color: chocolate;
}
.intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    
}
body{
    padding-top: 20px;
    margin-top: 20px;
}