.header-h1{
    text-align: center;
    color: chocolate;
}
.intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    
}
body{
    padding-top: 20px;
    margin-top: 20px;
}
.vl {
    border-left: 2px solid gray;
    height: 360px;
    position: absolute;
    left: 50%;
    margin-top: 20px;
    top: 0;
  }
